<%- include('_layouts/layout', { title: 'Home page' }); -%>

  <!-- @meta -->
  <meta name="description" content="Home page">
  <!-- @@meta -->
  <section class="c-grid__bg">
    <div class="c-grid__bginner">
      <div class="c-worries">

        <div class="l-container">
          <div class="c-worries__bg">
            <h2 class="c-worries__heading">
              家づくりの、&nbsp;こんな不安やお悩みないですか？
            </h2>
            <div class="c-worries__list">
              <% cases.case && cases.case.forEach(item=> { %>
                <div class="c-worries__item <%= item.classdata %>">
                  <div class="c-worries__itemtop">
                    <div class="c-worries__itemnumber">
                      <%= item.number %>
                    </div>
                    <span class="c-worries__itemcase">
                      <%= item.type %>
                    </span>
                  </div>
                  <div class="c-worries__main">
                    <% if( item.label !="" ) { %>
                      <span class="c-worries__mainlabel">
                        <%= item.label %>
                      </span>
                      <% } %>
                        <h3 class="c-worries__boxtitle">
                          <%= item.text%>
                        </h3>
                  </div>
                </div>
                <% }) %>
            </div>
          </div>
        </div>

      </div>
      <div class="c-welcome">
        <div class="l-container">
          <p class="c-welcome__titlesub u-text--center"> <span class="c-welcome__titlesubfirst">
              はじめての家づくりが具体的に進む、ご来店の</span>
            <span class="c-welcome__titlesub--blue">3つのメリット</span>
          </p>
          <h2 class="c-welcome__titlemain u-text--center">WELCOME TO MODELHOUSE</h2>
          <div class="c-welcome__list">
            <div class="c-welcome__item c-welcome__itemone">
              <div class="c-welcome__col">
                <div class="c-welcome__itemtext">
                  <div class="c-welcome__itemlabel">
                    <img src="../assets/img/welcome/icon1.svg" alt="" class="c-welcome__itemicon">
                  </div>
                  <div class="c-welcome__itembox">
                    <h3 class="c-welcome__itemtitle">
                      実物を見て触って
                      <span class="c-welcome__itemtitle--blue">
                        体感
                      </span>
                      できます !
                    </h3>
                    <p class="c-welcome__itemdesc">
                      カタログや資料だけではなく、高気密・高断熱の木 の住まいや、家事動線や収納スペースの女性目線で 叶った工夫など、実際に見て触ってご体感いただけ ます。
                    </p>
                  </div>
                </div>
              </div>

              <div class="c-welcome__col ">
                <div class=" c-welcome__itemlayer">
                  <picture>
                    <source media="(max-width:767px)" srcset="../assets/img/welcome/welcome-1-sp.jpg">
                    <img src="../assets/img/welcome/welcome-1.jpg" alt="" class="c-welcome__itemimg">
                  </picture>
                </div>

              </div>
            </div>
            <div class="c-welcome__item c-welcome__itemtwo">
              <div class="c-welcome__col">
                <div class="c-welcome__itemtext">
                  <div class="c-welcome__itemlabel">
                    <img src="../assets/img/welcome/icon2.svg" alt="" class="c-welcome__itemicon">
                  </div>
                  <div class="c-welcome__itembox">
                    <h3 class="c-welcome__itemtitle">
                      土地情報
                      <span class="c-welcome__itemtitle--blue">
                        1000件以上
                      </span>
                      が見放題!
                    </h3>
                    <p class="c-welcome__itemdesc">
                      愛媛県の最新の土地情報から、学区・最寄りの駅などご希望の条件でお好きな土地をご覧いただけます。さらに、地盤予測や付帯工事費なども含め、建てた後も安心して暮らせる総合的な土地のアドバイスをいたします。
                    </p>
                  </div>
                </div>
              </div>
              <div class="c-welcome__col c-welcome__itemlayer">
                <picture>
                  <source media="(max-width:767px)" srcset="../assets/img/welcome/welcome-2-sp.jpg">
                  <img src="../assets/img/welcome/welcome-2.jpg" alt="" class="c-welcome__itemimg">
                </picture>
              </div>
            </div>
            <div class="c-welcome__item c-welcome__itemone c-welcome__itemthree">
              <div class="c-welcome__col">
                <div class="c-welcome__itemtext">
                  <div class="c-welcome__itemlabel">
                    <img src="../assets/img/welcome/icon3.svg" alt="" class="c-welcome__itemicon">
                  </div>
                  <div class="c-welcome__itembox">
                    <h3 class="c-welcome__itemtitle">
                      お客様に合った
                      <span class="c-welcome__itemtitle--blue">
                        住宅ローン
                      </span>
                      を診断!
                    </h3>
                    <p class="c-welcome__itemdesc">
                      住宅ローンアドバイザーの資格を持ったスタッフが、
                      住宅ローン提携5大金融機関からお客様に合った適
                      正住宅ローンを診断いたします。
                    </p>
                  </div>
                </div>
              </div>
              <div class="c-welcome__col c-welcome__itemlayer">
                <picture>
                  <source media="(max-width:767px)" srcset="../assets/img/welcome/welcome-3-sp.jpg">
                  <img src="../assets/img/welcome/welcome-3.jpg" alt="" class="c-welcome__itemimg">
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="c-gern">
    <div class="c-recommend">
      <div class="c-recommend__main">
        <div class="c-recommend__layercar">

          <img src="../assets/img/recommend/car/car-pc.png" alt="recommended point">

        </div>
        <div class="c-recommend__boxtitle">
          <h2 class="c-recommend__title">
            recommended point
          </h2>
          <p class="c-recommend__titlesub">イベント・見学会の<span class="c-recommend__titlesub--blue">見どころ！</span></p>
        </div>

      </div>

      <div class="l-container--w1740 ">


        <div class="c-recommend__list">

          <div class="c-recommend__item c-recommend__itemone">
            <div class="c-recommend__itembox">
              <picture>
                <source media="(max-width:767px)" srcset="../assets/img/recommend/re-1__sp.jpg">
                <img src="../assets/img/recommend/re-1__pc.jpg" alt="" class="c-recommend__itemimg">
              </picture>
            </div>
            <h3 class="c-recommend__itemtitle">
              豊富な <span class="c-recommend__itemfun">+FUN</span> のオプション
            </h3>
            <div class="c-recommend__itemdesc">
              1,100万円の家をベースに、ライフスタイルにあった+FUNのオプションを組み合わせられます。価格が決まった明朗なシステムで、GOOD DESIGN賞を受賞。
            </div>
          </div>

          <div class="c-recommend__item  c-recommend__itemtwo">
            <div class="c-recommend__itembox">
              <picture>
                <source media="(max-width:767px)" srcset="../assets/img/recommend/re-2__sp.jpg">
                <img src="../assets/img/recommend/re-2__pc.jpg" alt="" class="c-recommend__itemimg">
              </picture>
            </div>
            <h3 class="c-recommend__itemtitle">
              シンプルな四角い外観
            </h3>
            <div class="c-recommend__itemdesc">
              住む方の生活に馴染むよう、シンプルでムダを削ぎ落とした四角い家。凹凸のないレイアウトで、室内も広々した空間を実現。 </div>
          </div>

          <div class="c-recommend__item  c-recommend__itemthree">
            <div class="c-recommend__itembox">
              <picture>
                <source media="(max-width:767px)" srcset="../assets/img/recommend/re-3__sp.jpg">
                <img src="../assets/img/recommend/re-3__pc.jpg" alt="" class="c-recommend__itemimg">
              </picture>
            </div>
            <h3 class="c-recommend__itemtitle">
              ガルバリウム鋼板の外壁・屋根
            </h3>
            <div class="c-recommend__itemdesc">
              外壁・屋根に使われているガルバリウム鋼板は、無骨で美しいZERO-CUBEの外観の特徴。<br>
              耐久・耐熱性など機能面に優れた、高品質の素材です。
            </div>
          </div>


          <div class="c-recommend__item  c-recommend__itemfour">
            <div class="c-recommend__itembox">
              <picture>
                <source media="(max-width:767px)" srcset="../assets/img/recommend/re-4__sp.jpg">
                <img src="../assets/img/recommend/re-4__pc.jpg" alt="" class="c-recommend__itemimg">
              </picture>
            </div>
            <h3 class="c-recommend__itemtitle">
              家族を感じるリビング
            </h3>
            <div class="c-recommend__itemdesc">
              1階が見渡せる対面キッチンでは、家族との会話も弾みます。吹き抜けのリビングイン階段は、居間を導線の中心に考えた、家族のコミュニケーションが生まれる設計。 </div>
          </div>
        </div>
        <div class="c-recommend__icon">
          <img src="../assets/img/recommend/car/car-sp.png" alt="recommend__icon">
        </div>
      </div>
    </div>
    <div class="c-voucher">
      <div class="l-container">
        <a href="#">
          <picture>
            <source media="(max-width:767px)" srcset="../assets/img/voucher/voucher-sp.jpg">
            <img src="../assets/img/voucher/voucher-pc.jpg" alt="voucher">
          </picture>
        </a>
      </div>
    </div>
  </section>
  <section class="c-design">
    <div class="c-design__banner">
      <div class="l-container">
        <div class="c-design__bannerlistlayout">
          <div class="c-design__bannerlist">
            <div class="c-design__banneritem">
              <div class="c-design__bannerlayer">
                <img src="../assets/img/design/slick01-pc.jpg" alt="slick01" class="c-design__bannerimg">
              </div>
            </div>
            <div class="c-design__banneritem">
              <div class="c-design__bannerlayer">
                <img src="../assets/img/design/slick02-pc.jpg" alt="slick01" class="c-design__bannerimg">
              </div>
            </div>
            <div class="c-design__banneritem">
              <div class="c-design__bannerlayer">
                <img src="../assets/img/design/slick03-pc.jpg" alt="slick01" class="c-design__bannerimg">
              </div>
            </div>
            <div class="c-design__banneritem">
              <div class="c-design__bannerlayer">
                <img src="../assets/img/design/slick04-pc.jpg" alt="slick01" class="c-design__bannerimg">
              </div>
            </div>
            <div class="c-design__banneritem">
              <div class="c-design__bannerlayer">
                <img src="../assets/img/design/slick05-pc.jpg" alt="slick01" class="c-design__bannerimg">
              </div>
            </div>

          </div>
          <div class="c-design__arrow">
            <div class="c-design__arrowright c-design__arrowbox">
              <picture>
                <source media="(max-width:767px)" srcset="../assets/img/design/arrow/arrow-right/arrow-pc.svg">
                <img src="../assets/img/design/arrow/arrow-right/arrow-pc.svg" alt="" class="c-design__arrowbtn">
              </picture>
            </div>
            <div class="c-design__arrowleft  c-design__arrowbox">
              <picture>
                <source media="(max-width:767px)" srcset="../assets/img/design/arrow/arrow-left/arrow-pc.png">
                <img src="../assets/img/design/arrow/arrow-left/arrow-sp.png" alt="" class="c-design__arrowbtn">
              </picture>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="c-design__infor">
      <div class="l-container">
        <div class="l-container__infortext">
          <div class=" c-design__inforheader">

            <h2 class="c-design__infortitle">Design</h2>
            <p class="c-design__infortitlesub"> シンプルで美しいデザイン、<br>
              いつまでも・誰にでも愛される空間に。
            </p>
            <p class="c-design__inforcontent">
              長く愛される「居心地の良い場所」はシンプルなルールで作られるもの。<br>
              壁の色を白で統一したシンプルな間取り。<br>
              余計な装飾は施さず、こだわりの家具やインテリアを <br>
              あなた色に合わせてコーディネートを楽しめる <br>
              年齢や性別を意識しない誰にでも愛される空間です。
            </p>

          </div>
          <div class="c-design__infovideo">
            <div class="c-design__itemvideo">
              <div class="c-design__itemlayer">
                <iframe src="https://www.youtube.com/embed/GtH-3_jjTvQ" title="YouTube video player"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen="">
                </iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="c-plan">
    <h2 class="c-plan__heading">
      PLAN
    </h2>
    <div class="c-plan__list ">
      <div class="l-container">
        <div class="c-plan__item c-plan__itemleft">
          <img src="../assets/img/plan/plan-1.jpg" alt="">
          <div class="c-plan__cricle">1F</div>
        </div>
        <div class="c-plan__item c-plan__itemright">
          <img src="../assets/img/plan/plan-2.jpg" alt="">
          <div class="c-plan__cricle">2F</div>
        </div>
      </div>
    </div>
    <div class="l-container">
      <ul class="c-plan__menulist">

        <li class="c-plan__menuitem c-plan__menuitemone">
          <span class="c-plan__itemtext">
            1階床面積
          </span>
          <span class="c-plan__itemnumber">
            192.53㎡（58.24坪）
          </span>
        </li>
        <li class="c-plan__menuitem c-plan__menuitemtwo">
          <span class="c-plan__itemtext">
            2階床面積
          </span>
          <span class="c-plan__itemnumber">
            139.01㎡（42.05坪)
          </span>
        </li>
        <li class="c-plan__menuitem c-plan__menuitemthree">
          <span class="c-plan__itemtext">
            延床面積
          </span>
          <span class="c-plan__itemnumber c-plan__menuitemfour">
            331.54㎡（100.29坪）
          </span>
        </li>
      </ul>
    </div>

    <div class="c-plan__table">
      <div class="l-container">
        <div class="c-plan__tableitem">
          <div class="c-plan__tabletext c-plan__tableleft">
            商品プラン
          </div>
          <div class="c-plan__tabletext c-plan__tableright">
            ZERO-CUBE
          </div>
        </div>
        <div class="c-plan__tableitem">
          <div class="c-plan__tabletext c-plan__tableleft">
            構造
          </div>
          <div class="c-plan__tabletext c-plan__tableright">
            木造2階建て
          </div>
        </div>
        <div class="c-plan__tableitem">
          <div class="c-plan__tabletext c-plan__tableleft">
            設備・仕様
          </div>
          <div class="c-plan__tabletext c-plan__tableborder">
            <ul class="c-plan__menutw">
              <li class="c-plan__menutwitem">
                <a href="#" class="c-plan__menutwlink">
                  W断熱/ <span class="c-plan__menutwspacing">
                    TOPS
                  </span>
                  工法
                </a>
              </li>
              <li class="c-plan__menutwitem">
                <a href="#" class="c-plan__menutwlink">
                  無垢材・自然素材
                </a>
              </li>
              <li class="c-plan__menutwitem">
                <a href="#" class="c-plan__menutwlink">
                  高性能住宅
                </a>
              </li>
              <li class="c-plan__menutwitem">
                <a href="#" class="c-plan__menutwlink">
                  玄関共有タイプ
                </a>
              </li>
              <li class="c-plan__menutwitem">
                <a href="#" class="c-plan__menutwlink">
                  防音構造床
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="c-plan__tableitem">
          <div class="c-plan__tabletext c-plan__tableleft">
            空間
          </div>
          <div class="c-plan__tabletext c-plan__tableborder">
            <ul class="c-plan__menutw">
              <li class="c-plan__menutwitem">
                <a href="#" class="c-plan__menutwlink">
                  二世帯・多世帯
                </a>
              </li>
              <li class="c-plan__menutwitem">
                <a href="#" class="c-plan__menutwlink">
                  1、2階リビング
                </a>
              </li>
              <li class="c-plan__menutwitem">
                <a href="#" class="c-plan__menutwlink">
                  吹抜け
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section>
    <section class="c-finace">
    <div class="l-container">
      <div class="c-finace__heading">
        <h2 class="c-finace__title">
          FINANCE
        </h2>
        <p class="c-finace__titlesub">
          3,400万円借入の場合
        </p>
      </div>
      <div class="c-finace__list">
        <div class="c-finace__item ">
          <div class="c-finace__itemleft">
            <ul>
              <li>
                <span class="c-fincace__itemleft">
                  借入金
                </span>
                <span class="c-fincace__itemcenter"></span>
                <span class="c-fincace__itemright">
                  3,400 万円
                </span>
              </li>
              <li>
                <span class="c-fincace__itemleft">
                  ボーナス払い
                </span>
                <span class="c-fincace__itemcenter"></span>
                <span class="c-fincace__itemright">
                  0 万円 &nbsp;
                </span>
              </li>
              <li>
                <span class="c-fincace__itemleft">
                  3 年固定金利
                </span>
                <span class="c-fincace__itemcenter"></span>
                <span class="c-fincace__itemright">
                  0.725％
                </span>
              </li>
              <li>
                <span class="c-fincace__itemleft">
                  返済期間
                </span>
                <span class="c-fincace__itemcenter"></span>
                <span class="c-fincace__itemright">
                  35 年
                </span>
              </li>
            </ul>
          </div>

        </div>
        <div class="c-finace__item ">
          <div class="c-finace__itemright">
            <div class="c-finace__itemlabel">
              <img src="../assets/img/finace/iconpay.svg" alt="">
            </div>
            <p class="c-finace__textsub">月々のお支払い</p>
            <div class="c-finace__count">
              <img src="../assets/img/finace/number.svg" alt="">
            </div>
            <p class="c-finace__textinfo">
              土地付建物販売価格 &nbsp;&nbsp; 3,400万円 &nbsp;（税込）
            </p>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="c-web">
    <div class="c-web__header">
      <h2 class="c-web__heading">
        WEB来場予約が<span class="c-web__textjapan">オススメ！</span>
      </h2>
      <p class="c-web__headingsup">
        待ち時間ナシ！混雑をきにせず来場OK！
        <br>
        経験豊富なスタッフがしっかりとご対応いたします。
      </p>
    </div>
    <div class="c-web__main">
      <div class="l-container">
        <div class="c-web__list">
          <div class="c-web__item c-web__itemevon">
            <a class="c-web__itemlayer ">
              <div class="c-web__image">
                <img src="../assets/img/web/web1.svg" alt="WEB予約">
              </div>
              <div class="c-web__info">
                <h3 class="c-web__title">WEB予約</h3>
                <div class="c-web__desc">入力フォームに必要事項を入力</div>
              </div>
            </a>
          </div>
          <a class="c-web__item c-web__itemuser">
            <div class="c-web__itemlayer ">
              <div class="c-web__image">
                <img src="../assets/img/web/web2.svg" class="c-web__" alt="WEB予約">
              </div>
              <div class="c-web__info">
                <h3 class="c-web__title">ご来場</h3>
                <div class="c-web__desc">来場されたら受付をお願いします</div>
              </div>
            </div>
          </a>
          <a class="c-web__item c-web__itemnote">
            <div class="c-web__itemlayer ">
              <div class="c-web__image">
                <img src="../assets/img/web/web3.svg" alt="WEB予約">
              </div>
              <div class="c-web__info">
                <h3 class="c-web__title">アンケート記入</h3>
                <div class="c-web__desc">アンケート記入後、丁寧にご説明</div>
              </div>
            </div>
          </a>
          <a class="c-web__item  c-web__itemwrapper">
            <div class="c-web__itemlayer">
              <div class="c-web__image">
                <img src="../assets/img/web/web4.svg" alt="WEB予約">
              </div>
              <div class="c-web__info ">
                <h3 class="c-web__title">ご見学・ご説明</h3>
                <div class="c-web__desc">何でもお気軽に相談してください</div>
              </div>
            </div>

          </a>
          <a class="c-web__item  c-web__itemgift">
            <div class="c-web__itemlayer">
              <div class="c-web__image">
                <img src="../assets/img/web/web5.svg" alt="WEB予約">
              </div>
              <div class="c-web__info">
                <h3 class="c-web__title">特典プレゼント！</h3>
                <div class="c-web__desc">QUOカードプレゼント</div>
              </div>
            </div>

          </a>

        </div>
      </div>
    </div>

    <div class="c-web__table">
      <div class="l-container">
        <div class="c-web__tableheader">
          <div class="c-web__top">
            <a href="#" class="c-web__btn">
              <span class="c-web__btntext">
                ご来場のお客様へ
              </span>
            </a>
            <h2 class="c-web__tableheading">
              新型コロナウイルス感染症予防対策につきまして
            </h2>
          </div>
          <p class="c-web__bottom">
            ウェブココでは新型コロナウイルス感染拡大防止のため、対策を講じておりますので安心してご利用ください。
          </p>

        </div>
        <div class="c-web__tablemain">
          <div class="c-web__tablebox">
            <div class="c-web__tableitem c-web__itemwindow">
              <div class="c-web__tablelayer">
                <img src="../assets/img/web/table/web1.svg" alt="" class="c-web__tableimg">
              </div>
              <div class="c-web__tableinfor">
                <h3 class="c-web__tableinfotitle">常時店内・モデルハウス<br>換気中</h3>
              </div>
            </div>
          </div>

          <div class="c-web__tablebox">
            <div class="c-web__tableitem c-web__itemface">
              <div class="c-web__tablelayer">
                <img src="../assets/img/web/table/web2.svg" alt="" class="c-web__tableimg">
              </div>
              <div class="c-web__tableinfor">
                <h3 class="c-web__tableinfotitle">スタッフの
                  <br>マスク着用義務化
                </h3>
              </div>
            </div>
          </div>
          <div class="c-web__tablebox">
            <div class="c-web__tableitem c-web__itemtwface">
              <div class="c-web__tablelayer">
                <img src="../assets/img/web/table/web3.svg" alt="" class="c-web__tableimg">
              </div>
              <div class="c-web__tableinfor">
                <h3 class="c-web__tableinfotitle">お客様へのマスク着用
                  <br>をお願いしています
                </h3>
              </div>
            </div>
          </div>
          <div class="c-web__tablebox">
            <div class="c-web__tableitem c-web__itemcontact">
              <div class="c-web__tablelayer">
                <img src="../assets/img/web/table/web4.svg" alt="" class="c-web__tableimg">
              </div>
              <div class="c-web__tableinfor">
                <h3 class="c-web__tableinfotitle">ソーシャルディスタンス
                  <br>（2m）を維持した打合せ
                </h3>
              </div>
            </div>
          </div>
          <div class="c-web__tablebox">
            <div class="c-web__tableitem c-web__itemthermo">
              <div class="c-web__tablelayer">
                <img src="../assets/img/web/table/web5.svg" alt="" class="c-web__tableimg">
              </div>
              <div class="c-web__tableinfor">
                <h3 class="c-web__tableinfotitle">発熱のあるスタッフ・ <br>
                  お客様の出社・入店禁止
                </h3>
              </div>
            </div>
          </div>
          <div class="c-web__tablebox">
            <div class="c-web__tableitem c-web__itemstar">
              <div class="c-web__tablelayer">
                <img src="../assets/img/web/table/web6.svg" alt="" class="c-web__tableimg">
              </div>
              <div class="c-web__tableinfor">
                <h3 class="c-web__tableinfotitle">こまめな除菌</h3>
              </div>
            </div>
          </div>
          <div class="c-web__tablebox">
            <div class="c-web__tableitem c-web__itemsick">
              <div class="c-web__tablelayer">
                <img src="../assets/img/web/table/web7.svg" alt="" class="c-web__tableimg">
              </div>
              <div class="c-web__tableinfor">
                <h3 class="c-web__tableinfotitle">咳エチケットを
                  <br>徹底しています
                </h3>
              </div>
            </div>
          </div>
          <div class="c-web__tablebox">
            <div class="c-web__tableitem c-web__itemwash">
              <div class="c-web__tablelayer">
                <img src="../assets/img/web/table/web8.svg" alt="" class="c-web__tableimg">
              </div>
              <div class="c-web__tableinfor">
                <h3 class="c-web__tableinfotitle">スタッフ・お客様
                  <br>アルコール除菌
                </h3>
              </div>
            </div>
          </div>
          <div class="c-web__tablebox">
            <div class="c-web__tableitem c-web__itemmeet">
              <div class="c-web__tablelayer">
                <img src="../assets/img/web/table/web9.svg" alt="" class="c-web__tableimg">
              </div>
              <div class="c-web__tableinfor">
                <h3 class="c-web__tableinfotitle">web設計打合せを
                  <br>推奨しています
                </h3>
              </div>
            </div>
          </div>
          <div class="c-web__tablebox">
            <div class="c-web__tableitem c-web__itemzoom">
              <div class="c-web__tablelayer">
                <img src="../assets/img/web/table/web10.svg" alt="" class="c-web__tableimg">
              </div>
              <div class="c-web__tableinfor">
                <h3 class="c-web__tableinfotitle">webおうち相談会を

                  <br>推奨しています
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 <section class="c-assets">
    <div class="l-container">
      <div class="c-assets__list">
        <div class="c-assets__item">
          <div class="c-assets__itemmap">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15677.33109702218!2d106.69384625612794!3d10.785804699889978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f385570472f%3A0x1787491df0ed8d6a!2sReunification%20Palace!5e0!3m2!1sja!2s!4v1668421450693!5m2!1sja!2s"
              allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
              class="c-assets__iframe"></iframe>
          </div>
        </div>
        <div class="c-assets__item c-assets__info">
          <h2 class="c-assets__titleheading">access</h2>
          <p class="c-assets__titlesub">完全ご予約制見学会</p>
          <ul class="c-assets__textmenu">
            <li class="c-assets__textitem">
              <div class="c-assets__label">
                <span class="c-assets__labelone">開催日</span> 
              </div>
             <span class="c-assets__labelitem">
                8 月 20  日（土）・21日（日）
              </span> 
            </li>
            <li class="c-assets__textitem">
              <div class="c-assets__label">
                <span class="c-assets__labeltwo">時間</span>
              </div>
              10：00 ～ 17：00 ※完全予約制
            </li>
            <li class="c-assets__textitem">
              <div class="c-assets__label"> 
                <span class="c-assets__labelthree">開催場所</span>
              </div>
              〒000-0000 愛媛県今治市 000-0
            </li>
            <li class="c-assets__textitem">
              <span class="c-assets__label"></span>
              <span class="c-assets__textfooter">※車でお越しの際は、ナビで上記住所を設定してください。</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <footer class="c-footer">
    <div class="l-container">
      <div class="c-footer__banner">
        <a href="#">
          <picture>
            <source media="(max-width:767px)" srcset="../assets/img/footer/banner/banner-sp.jpg">
            <img src="../assets/img/footer/banner/banner-pc.jpg" alt="banner-pc">
          </picture>
        </a>
      </div>
      <div class="c-footer__contact">
        <h2 class="c-footer__contactheading">Contact form</h2>
      </div>
      <div class="c-footer__logo">
        <a href="#">
          <img src="../assets/img/footer/logo.svg" alt="footer-logo">
        </a>
      </div>
    </div>

  </footer> --> -->
  <!-- @script -->
  <!-- @@script -->