<%- include('_layouts/layout', { title: 'Home page' }); -%>

  <!-- @meta -->
  <meta name="description" content="Home page">
  <!-- @@meta -->
  <section class="c-worries">

    <div class="l-container">
      <div class="c-worries__bg">
        <h2 class="c-worries__heading">
          家づくりの、&nbsp;こんな不安やお悩みないですか？
        </h2>
        <div class="c-worries__list">
          <% cases.case && cases.case.forEach(item=> { %>
            <div class="c-worries__item <%= item.classdata %>">
              <div class="c-worries__itemtop">
                <div class="c-worries__itemnumber">
                  <%= item.number %>
                </div>
                <span class="c-worries__itemcase">
                  <%= item.type %>
                </span>
              </div>
              <div class="c-worries__main">
                <% if( item.label !="" ) { %>
                  <span class="c-worries__mainlabel">
                    <%= item.label %>
                  </span>
                  <% } %>
                    <h3 class="c-worries__boxtitle">
                      <%= item.text%>
                    </h3>
              </div>
            </div>
            <% }) %>
        </div>
      </div>
    </div>

  </section>
  <section class="c-welcome">
    <div class="l-container">

      <p class="c-welcome__titlesub u-text--center">はじめての家づくりが具体的に進む、&nbsp; ご来店の
        <span class="c-welcome__titlesub--blue">3つのメリット</span>
      </p>
      <h2 class="c-welcome__titlemain u-text--center">WELCOME TO MODELHOUSE</h2>
      <div class="c-welcome__list">
        <div class="c-welcome__item c-welcome__itemone">
          <div class="c-welcome__col">
            <div class="c-welcome__itemtext">
              <div class="c-welcome__itemlabel">
                <img src="../assets/img/welcome/icon1.svg" alt="" class="c-welcome__itemicon">
              </div>
              <div class="c-welcome__itembox">
                <h3 class="c-welcome__itemtitle">
                  実物を見て触って
                  <span class="c-welcome__itemtitle--blue">
                    体感
                  </span>
                  できます !
                </h3>
                <p class="c-welcome__itemdesc">
                  カタログや資料だけではなく、高気密・高断熱の木 の住まいや、家事動線や収納スペースの女性目線で 叶った工夫など、実際に見て触ってご体感いただけ ます。
                </p>
              </div>
            </div>
          </div>

          <div class="c-welcome__col ">
            <div class=" c-welcome__itemlayer">
              <picture>
                <source media="(max-width:767px)" srcset="../assets/img/welcome/welcome-1-sp.jpg">
                <img src="../assets/img/welcome/welcome-1.jpg" alt="" class="c-welcome__itemimg">
              </picture>
            </div>

          </div>
        </div>
        <div class="c-welcome__item c-welcome__itemtwo">
          <div class="c-welcome__col">
            <div class="c-welcome__itemtext">
              <div class="c-welcome__itemlabel">
                <img src="../assets/img/welcome/icon2.svg" alt="" class="c-welcome__itemicon">
              </div>
              <div class="c-welcome__itembox">
                <h3 class="c-welcome__itemtitle">
                  土地情報
                  <span class="c-welcome__itemtitle--blue">
                    1000件以上
                  </span>
                  が見放題!
                </h3>
                <p class="c-welcome__itemdesc">
                  愛媛県の最新の土地情報から、学区・最寄りの駅などご希望の条件でお好きな土地をご覧いただけます。さらに、地盤予測や付帯工事費なども含め、建てた後も安心して暮らせる総合的な土地のアドバイスをいたします。
                </p>
              </div>
            </div>
          </div>
          <div class="c-welcome__col c-welcome__itemlayer">
            <picture>
              <source media="(max-width:767px)" srcset="../assets/img/welcome/welcome-2-sp.jpg">
              <img src="../assets/img/welcome/welcome-2.jpg" alt="" class="c-welcome__itemimg">
            </picture>
          </div>
        </div>
        <div class="c-welcome__item c-welcome__itemone c-welcome__itemthree">
          <div class="c-welcome__col">
            <div class="c-welcome__itemtext">
              <div class="c-welcome__itemlabel">
                <img src="../assets/img/welcome/icon3.svg" alt="" class="c-welcome__itemicon">
              </div>
              <div class="c-welcome__itembox">
                <h3 class="c-welcome__itemtitle">
                  お客様に合った
                  <span class="c-welcome__itemtitle--blue">
                    住宅ローン
                  </span>
                  を診断!
                </h3>
                <p class="c-welcome__itemdesc">
                  住宅ローンアドバイザーの資格を持ったスタッフが、
                  住宅ローン提携5大金融機関からお客様に合った適
                  正住宅ローンを診断いたします。
                </p>
              </div>
            </div>
          </div>
          <div class="c-welcome__col c-welcome__itemlayer">
            <picture>
              <source media="(max-width:767px)" srcset="../assets/img/welcome/welcome-3-sp.jpg">
              <img src="../assets/img/welcome/welcome-3.jpg" alt="" class="c-welcome__itemimg">
            </picture>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="c-gern">
    <div class="c-recommend">
      <div class="c-recommend__main">
        <div class="c-recommend__layercar">
          <picture>
            <source media="(max-width:767px)" srcset="../assets/img/recommend/car/car-sp.png">
            <img src="../assets/img/recommend/car/car-pc.png" alt="recommended point">
          </picture>
        </div>
        <div class="c-recommend__boxtitle">
          <h2 class="c-recommend__title">
            recommended point
          </h2>
          <p class="c-recommend__titlesub">イベント・見学会の<span class="c-recommend__titlesub--blue">見どころ！</span></p>
        </div>

      </div>

      <div class="l-container--w1740 ">


        <div class="c-recommend__list">

          <div class="c-recommend__item">
            <div class="c-recommend__itembox">
              <picture>
                <source media="(max-width:767px)" srcset="../assets/img/recommend/re-1__sp.jpg">
                <img src="../assets/img/recommend/re-1__pc.jpg" alt="" class="c-recommend__itemimg">
              </picture>
            </div>
            <h3 class="c-recommend__itemtitle">
              豊富な <span class="c-recommend__itemfun">+FUN</span> のオプション
            </h3>
            <div class="c-recommend__itemdesc">
              1,100万円の家をベースに、ライフスタイルにあった+FUNのオプションを組み合わせられます。価格が決まった明朗なシステムで、GOOD DESIGN賞を受賞。
            </div>
          </div>

          <div class="c-recommend__item">
            <div class="c-recommend__itembox">
              <picture>
                <source media="(max-width:767px)" srcset="../assets/img/recommend/re-2__sp.jpg">
                <img src="../assets/img/recommend/re-2__pc.jpg" alt="" class="c-recommend__itemimg">
              </picture>
            </div>
            <h3 class="c-recommend__itemtitle">
              シンプルな四角い外観
            </h3>
            <div class="c-recommend__itemdesc">
              住む方の生活に馴染むよう、シンプルでムダを削ぎ落とした四角い家。凹凸のないレイアウトで、室内も広々した空間を実現。 </div>
          </div>

          <div class="c-recommend__item">
            <div class="c-recommend__itembox">
              <picture>
                <source media="(max-width:767px)" srcset="../assets/img/recommend/re-3__sp.jpg">
                <img src="../assets/img/recommend/re-3__pc.jpg" alt="" class="c-recommend__itemimg">
              </picture>
            </div>
            <h3 class="c-recommend__itemtitle">
              ガルバリウム鋼板の外壁・屋根
            </h3>
            <div class="c-recommend__itemdesc">
              外壁・屋根に使われているガルバリウム鋼板は、無骨で美しいZERO-CUBEの外観の特徴。<br>
              耐久・耐熱性など機能面に優れた、高品質の素材です。
            </div>
          </div>


          <div class="c-recommend__item">
            <div class="c-recommend__itembox">
              <picture>
                <source media="(max-width:767px)" srcset="../assets/img/recommend/re-4__sp.jpg">
                <img src="../assets/img/recommend/re-4__pc.jpg" alt="" class="c-recommend__itemimg">
              </picture>
            </div>
            <h3 class="c-recommend__itemtitle">
              家族を感じるリビング
            </h3>
            <div class="c-recommend__itemdesc">
              1階が見渡せる対面キッチンでは、家族との会話も弾みます。吹き抜けのリビングイン階段は、居間を導線の中心に考えた、家族のコミュニケーションが生まれる設計。 </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-voucher">
      <div class="l-container">
        <a href="#">
          <picture>
            <source media="(max-width:767px)" srcset="../assets/img/voucher/voucher-sp.jpg">
            <img src="../assets/img/voucher/voucher-pc.jpg" alt="voucher">
          </picture>
        </a>
      </div>
    </div>
  </section>
  <section class="c-design">
    <div class="c-design__banner">
      <div class="l-container">
        <div class="c-design__bannerlist">
          <div class="c-design__banneritem">
            <div class="c-design__bannerlayer">
              <img src="../assets/img/design/slick01-pc.jpg" alt="slick01" class="c-design__bannerimg">
            </div>
          </div>
          <div class="c-design__banneritem">
            <div class="c-design__bannerlayer">
              <img src="../assets/img/design/slick02-pc.jpg" alt="slick01" class="c-design__bannerimg">
            </div>
          </div>
          <div class="c-design__banneritem">
            <div class="c-design__bannerlayer">
              <img src="../assets/img/design/slick03-pc.jpg" alt="slick01" class="c-design__bannerimg">
            </div>
          </div>
          <div class="c-design__banneritem">
            <div class="c-design__bannerlayer">
              <img src="../assets/img/design/slick04-pc.jpg" alt="slick01" class="c-design__bannerimg">
            </div>
          </div>
          <div class="c-design__banneritem">
            <div class="c-design__bannerlayer">
              <img src="../assets/img/design/slick05-pc.jpg" alt="slick01" class="c-design__bannerimg">
            </div>
          </div>

        </div>
        <div class="c-design__arrow">
          <div class="c-design__arrowright c-design__arrowbox">
            <picture>
              <source media="(max-width:767px)" srcset="../assets/img/design/arrow/arrow-left/arrow-pc.png">
              <img src="../assets/img/design/arrow/arrow-left/arrow-sp.png" alt="" class="c-design__arrowbtn">
            </picture>
          </div>
          <div class="c-design__arrowleft  c-design__arrowbox">
            <picture>
              <source media="(max-width:767px)" srcset="../assets/img/design/arrow/arrow-left/arrow-pc.png">
              <img src="../assets/img/design/arrow/arrow-left/arrow-sp.png" alt="" class="c-design__arrowbtn">
            </picture>
          </div>
        </div>
      </div>

    </div>
    <div class="c-design__infor">
      <div class="l-container">
        <div class="l-container__infortext">
          <div class="l-twocolumn__col">
            <div class="c-design__inforheader">
              <h2 class="c-design__infortitle">Design</h2>
              <p class="c-design__infortitlesub"> シンプルで美しいデザイン、<br>
                いつまでも・誰にでも愛される空間に。
              </p>
            </div>
            <p class="c-design__inforcontent">
              長く愛される「居心地の良い場所」はシンプルなルールで作られるもの。<br>
              壁の色を白で統一したシンプルな間取り。<br>
              余計な装飾は施さず、こだわりの家具やインテリアを <br>
              あなた色に合わせてコーディネートを楽しめる <br>
              年齢や性別を意識しない誰にでも愛される空間です。
            </p>
          </div>
          <div class="l-twocolumn__col">
            <div class="c-design__itemvideo">
              <div class="c-design__itemlayer">
                <iframe src="https://www.youtube.com/embed/GtH-3_jjTvQ" title="YouTube video player"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen="">
                </iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="c-plan">
    <div class="l-container">
      <h2 class="c-plan__heading">
        PLAN
      </h2>
      <div class="c-plan__list">
        <div class="c-plan__item c-plan__itemleft">
          <img src="../assets/img/plan/plan-1.jpg" alt="">
        </div>
        <div class="c-plan__item c-plan__itemright">
          <img src="../assets/img/plan/plan-2.jpg" alt="">
        </div>
      </div>
      <ul class="c-plan__menulist">
        <li class="c-plan__menuitem">
          <span class="c-plan__itemtext">
            1階床面積
          </span>
          <span class="c-plan__itemnumber">
            192.53㎡（58.24坪）
          </span>
        </li>
        <li class="c-plan__menuitem">
          <span class="c-plan__itemtext">
            1階床面積
          </span>
          <span class="c-plan__itemnumber">
            192.53㎡（58.24坪）
          </span>
        </li>
        <li class="c-plan__menuitem">
          <span class="c-plan__itemtext">
            1階床面積
          </span>
          <span class="c-plan__itemnumber">
            192.53㎡（58.24坪）
          </span>
        </li>
      </ul>
      <div class="c-plan__table">
        <div class="c-plan__tableitem">
          <div class="c-plan__itemtext c-plan__itemleft">
            商品プラン
          </div>
          <div class="c-plan__itemtext c-plan__itemright">
            ZERO-CUBE
          </div>
        </div>
        <div class="c-plan__tableitem">
          <div class="c-plan__itemtext c-plan__itemleft">
            構造
          </div>
          <div class="c-plan__itemtext c-plan__itemright">
            木造2階建て
          </div>
        </div>
        <div class="c-plan__tableitem">
          <div class="c-plan__itemtext c-plan__itemleft">
            設備・仕様
          </div>
          <div class="c-plan__itemtext c-plan__itemright">

          </div>
        </div>
      </div>
    </div>

  </section>
  <section class="c-finace">
    <div class="l-container">
      <div class="c-finace__heading">
        <h2 class="c-finace__title">
          FINANCEs
        </h2>
        <p class="c-finace__titlesub">
          3,400万円借入の場合
        </p>
      </div>
      <div class="c-finace__list">
        <div class="c-finace__item c-finace__itemleft">
          <ul>
            <li>
              <span class="c-fincace__itemleft">
                借入金
              </span>
              <span class="c-fincace__itemcenter"></span>
              <span class="c-fincace__itemright">
                3,400 万円
              </span>
            </li>
            <li>
              <span class="c-fincace__itemleft">
                ボーナス払い
              </span>
              <span class="c-fincace__itemcenter"></span>
              <span class="c-fincace__itemright">
                0 万円 &nbsp;
              </span>
            </li>
            <li>
              <span class="c-fincace__itemleft">
                3 年固定金利
              </span>
              <span class="c-fincace__itemcenter"></span>
              <span class="c-fincace__itemright">
                0.725％
              </span>
            </li>
            <li>
              <span class="c-fincace__itemleft">
                返済期間
              </span>
              <span class="c-fincace__itemcenter"></span>
              <span class="c-fincace__itemright">
                35 年
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <footer class="c-footer">
    <div class=""></div>
    <div class="c-footer__banner">
      <a href="#">
        <picture>
          <source media="(max-width:767px)" srcset="../assets/img/footer/banner/banner-pc.jpg">
          <img src="../assets/img/footer/banner/banner-sp.jpg" alt="">
        </picture>
      </a>
    </div>
  </footer>
  <!-- @script -->
  <!-- @@script -->