.c-header {
    .c-header__bg {
        width: 100%;
        height: 100vh;
        position: relative;
        @include sp {
            margin-top: 35px;
            height: auto;
        }
    }

    .c-header__bgimg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        
        @include sp {
            height: auto;
        }
    }

    .c-header__image {
        position: relative;
    }

    .c-header__layer {
        --width: 434px;
        max-width: var(--width);
        width: 100%;
        padding-bottom: var(--pb);
        min-height: 461px;
        padding-right: 30px;
        padding-left: 30px;
        background: rgba(255, 255, 255, 0.49);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        @include sp {
            --width: 218px;
            padding-top: 0;
            padding-bottom: 0;
            min-height: 230px;
            padding-right: 15px;
            padding-left: 15px;
        }

        .c-header__logo {
            --width: 227px;
            width: var(--width);
            margin: 0 auto;
            display: block;
            padding-top: var(--pt);
            margin-bottom: 60px;
            position: relative;
            margin-top: 113px;
            @include sp {
                --width: 113px;
                margin-bottom: 32px;
                margin-top: 57px;
            }
        }

        .c-header__slogan {
            width: 322px;
            position: relative;
            left: 4px;
            top: -5px;
            @include sp {
                width: 161px;
                left: 9px;
                top: -23px;
            }
        }

        .c-header__description {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 37px;
            letter-spacing: -0.11em;
            text-align: left;
            position: relative;
            left: 6px;
            top: -6px;
            @include sp {
                font-size: 1rem;
                left: 5px;
                top: -4px;
            }
        }
    }

    .c-header__description span {
        margin-right: -10px;
        letter-spacing: -0.06em;
    }
}
