<header class="c-header">
  <div class="c-header__bg">
    <picture>
      <source media="(max-width:575px)" srcset="../assets/img/banner/banner-sp.jpg">
      <img src="../assets/img/banner/banner-pc.jpg" alt="「こんな家に住みたい」" class="c-header__bgimg">
    </picture>
    <div class="c-header__layer">
      <a href="#">
        <img src="../assets/img/banner/logo.png" alt="COCO MGM DESIGN" class="c-header__logo">
      </a>
      <h1 class="c-header__description u-font--notoserif">
  「こんな家に住みたい」
        をカタチにした家
      </h1>
      <img src="../assets/img/banner/slogan.svg" alt="new open" class="c-header__slogan">
    </div>
  </div>
</header>