//============================================
// clearfix
//============================================
@mixin clear {
    *zoom: 1;

    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

//============================================
// breakpoint
//============================================
@mixin sp {
    @media only screen and (max-width: 576px) {
        @content;
    }
}
@mixin under-1200 {
    @media only screen and (max-width: 1200px) {
        @content;
    }
} 
@mixin tab {
    @media only screen and (max-width: 992px) {
        @content;
    }
}
@mixin under-mobile {
    @media only screen and (max-width: 375px) {
        @content;
    }
}
