.c-solution {
    max-width: 1200px;
    margin: 0 auto;
}

.c-solution__top {
    background: $brown;
}

.c-solution__toptitle {
}

.c-solution__main {
}

.c-solution__mainlist {
}

.c-solution__mainitem {
}

.c-solution__mainimg {
}
