.c-design {
    margin-top: 123px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    @include sp {
        margin-top: 51px;
    }

    .c-design__banner {
        .l-container {
            max-width: 1454px;
            width: 100%;
            padding-right: 15px;
            margin: 0;
        }
    }

    .c-design__infovideo {
        width: 50%;
        @include tab {
            width: 100%;
        }
    }

    .l-container__infortext {
        display: flex;
        flex-wrap: wrap;
    }

    .l-container {
        max-width: 1440px + 15px;
        padding-right: 15px;
    }

    .c-design__bannerlistlayout {
        position: relative;

        &::after {
            width: 100%;
            height: 73.5%;
            position: absolute;
            content: "";
            background-color: #ededed;
            top: 79.7%;
            left: 49.7%;
            z-index: -1;
            @include sp {
                height: 122.5%;
                top: 77%;
                left: 49.7%;
            }
        }
    }
    

    .c-design__bannerlayer {
        width: 100%;
        padding-bottom: 47.4%;
        position: relative;
        @include sp {
            padding-bottom: 55.3%;
        }

        &::after{
           
        }
    }

    .c-design__bannerimg {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .c-design__arrow {
        padding-top: 36px;
        @include sp {
            padding-top: 12px;
            margin-right: 3px;
        }
    }


    .c-design__arrowbox {
        width: 53px;
        height: 54px;
        margin-left: 20px;
        background-color: #000;
        text-align: center;
        padding-top: 25px;
        float: right;
        cursor: pointer;
        @include sp {
            width: 31px;
            height: 31px;
            margin-left: 12px;
            background-color: #000;
            text-align: center;
            padding-top: 14px;
        }
    }

    .c-design__arrowbtn {
        width: 65%;
    }

    .c-design__arrowright {
        .c-design__arrowbtn {
        }
    }

    .c-design__infor {
        .l-container {
            width: 100%;
            max-width: 1816px;
            padding-right: 32px;
            padding-left: 32px;
            margin: 0 auto;
            @include tab {
                max-width: 576px;
            }
        }

        .l-container__infortext {
            margin-left: auto;
            width: 100%;
            max-width: 1472px;
            @include sp {
                padding-top: 18px;
            }
        }

        .c-design__infortitle {
            margin-top: -11px;
            letter-spacing: 5px;
            color: #000;
            font-size: 4.8rem;
            font-family: "Oswald", sans-serif;
            font-weight: 300;
            padding-bottom: 28px;
            position: relative;
            text-transform: uppercase;
            @include sp {
                font-size: 2.4rem;
                padding-bottom: 15px;
                letter-spacing: 2.4px;
            }

            &::before {
                position: absolute;
                content: "";
                width: 58px;
                height: 1px;
                background-color: #231815;
                bottom: 0;
                left: 0;
                @include sp {
                    width: 29px;
                }
            }
        }

        .c-design__inforheader {
            width: 47%;
            margin-right: 3%;
            @include tab {
                width: 100%;
                margin: 0 auto;
            }
        }

        .c-design__infortitlesub {
            font-size: 2.7rem;
            font-weight: 400;
            line-height: 1.36;
            padding: 25px 0 35px;
            letter-spacing: 0;
            @include sp {
                font-size: 1.4rem;
                padding-bottom: 16px;
                padding-top: 12px;
                letter-spacing: -0.5px;
            }
        }

        .c-design__inforcontent {
            font-size: 1.9rem;
            font-weight: 300;
            line-height: 1.8;
            letter-spacing: 0;
            @include sp {
                font-size: 1rem;
                margin-right: -19px;
            }            
        }

        .c-design__itemvideo {
            margin-top: 102px;
            width: 100%;
            max-width: 702px;
            margin-left: auto;
            @include sp {
                margin-top: 48px;
                padding-left: 5px;
                padding-right: 5px;
            }
        }

        .c-design__itemlayer {
            width: 100%;
            padding-bottom: 56%;
            position: relative;

            iframe {
                position: absolute;
                width: 100%;
                height: 100%;
            }
            @include sp {
                padding-bottom: 56%;

            }
        }

      
    }
}
