.c-assets {
    .c-assets__list {
        display: flex;
        flex-wrap: wrap;
    }

    .c-assets__info {
        width: 100%;
        max-width: 660px;
        margin: auto;
        text-align: center;
        padding: 25px 30px 15px;
    }

    .c-assets__titleheading {
        font-size: 4.8rem;
        position: relative;
        font-weight: 400;
        letter-spacing: 0.095em;
        padding-bottom: 5px;
        position: relative;
        font-family: "Oswald", sans-serif;
        text-transform: uppercase;

        &::after {
            position: absolute;
            content: "";
            width: 75px;
            height: 1px;
            background-color: #000;
            bottom: 0;
            left: calc(50% - 38px);
        }
    
       
        .c-assets__item {

        }
    }

    .c-assets__titlesub {
        font-size: 2.8rem;
        
    }

    .c-assets__textitem {
        display: flex;
    }

    .c-assets__label {
        background: #565f64;
        color: $white;
        padding: 0 10px;
        display: flex;
        align-items: center;
    }

    .c-assets__textmenu {
        display: flex;
    }

    .c-assets__text {
        font-size: 2.5rem;
        margin-left: 22px;
    }
}
